body {
    font-size: 14px;
    line-height: 21px;
    color: black;
    font-weight: normal;
    font-family: "PT Sans Regular", "Arial", sans-serif;
    text-transform: uppercase;
}

h2 {
    font-size: 21px;
    line-height: 26px;
    color: black;
    font-weight: bold;
    font-family: "PT Sans Bold", "Arial", sans-serif;
}

h3 {
    font-size: 14px;
    line-height: 21px;
    color: black;
    font-weight: bold;
    font-family: "PT Sans Regular", "Arial", sans-serif;
}
